
.main{
    background-color: rgb(36, 124, 202);
    color: aqua;
    padding: 20px;
    width: 40%;
    margin-top: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.form{
    background-color: white;
    padding: 20px;
    margin-left: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: 60%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: bisque;
    border-width: 40%;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
#fill{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
   align-items: baseline;
    margin-left: 130px;
    margin-top: 20px;

}
#lab{
    margin-left: 20px;
    margin-right: 20px;
}
.gap-0{
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    width: 400px;
    position: absolute;
    left: 831px;
    border-color: rgb(36, 124, 202);
}
.gap-1{
    position: absolute;
    left: 561px;
}
span{
    position: absolute;
    left:561px;
}
.gap-3{
    background-color: rgb(36, 124, 202);
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    padding: 20px;
}
.form1{
    width: 760px;
    border: 5px solid blanchedalmond;
    height: 660px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}